*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Eclipse #
.metadata/
RemoteSystemsTempFiles/
Lab2/.project
.recommenders/
Lab5/.classpath
Lab5/.gitignore
Lab5/.project
Lab5/.settings/